{% extends 'visitor.html.twig' %}

{% block title %}Fiche De Dégustation -
	{{ parent() }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('tastingSheet') }}
{% endblock %}

{% block body %}

	{% set criteriaContents = 
		{'Apparence': [
	    	'L’intensité : Comment trouvez-vous l\'intensité ?',
	    	'Brillance : Comment trouvez-vous la brillance ?',
	    	'Limpidité : Comment trouvez-vous  la limpidité ?',
		],
		'Nez': [
			'Arôme : Comment trouvez-vous l\'arome ?',
			'Intensité : Comment trouvez-vous l\'intensité ?',
			'Impression : Comment trouvez-vous l\'impression ?',
		],
		'Palais': [
			'Matière : Comment trouvez-vous la matière ?',
			'Structure : Comment trouvez-vous la structure ?',
			'Saveur : Comment trouvez-vous la saveur ?',
		],
		}%}

	<main class="container mb-5 pb-5 mt-5 pt-5">
		<div class="d-flex flex-column align-items-start mb-4">
			<h1 class="text-primary-light fw-light letter-spacing spaceBeforeNavbar">
				{% include 'components/svg/_icon_decoration.svg.twig' %}
				FICHE DE DÉGUSTATION
			</h1>
			<div>
				{% include "components/svg/_frame_surlignage_main.svg.twig" %}
			</div>
		</div>
		<h2 class="mt-5">SÉANCE DU 07 JUIN 2023</h2>
		<h3 class="mb-5 pb-2">16h - 19h</h3>
		{{ form_start(form) }}
		<div class="row">
			<div class="col myPage mb-4 px-0">
				<ul class="firstNavbar nav nav-pills bg-dark" id="pills-tab" role="tablist">
					{% for wine in recipe.session.getWines %}
						<li class="nav-item" role="presentation">
							<button class="nav-link {% if loop.first %} {{ 'show active' }} {% endif %} letter-spacing px-3 px-md-5" id="pills-{{ loop.index }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ loop.index }}" type="button" role="tab" aria-controls="pills-{{ loop.index }}" aria-selected="true">Vin
								{{ loop.index }}</button>
						</li>
					{% endfor %}
				</ul>
				<div class="myForm">
					<div class="tab-content myFormBorder" id="pills-tabContent">
						{% for tastingSheetForm in form.tastingSheet %}
							{% set wine = tastingSheetForm.vars.value.wine %}
							{% set lastWine = form.tastingSheet|last %}
							<div class="tab-pane fade {% if loop.first %} {{ 'show active' }} {% endif %}" id="pills-{{ loop.index }}" role="tabpanel" aria-labelledby="pills-{{ loop.index }}-tab" tabindex="0">
								<div class="firstNavbarBorder">
									<div class="row">
										<div class="col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center customMinWidth">
											<img class="p-1 rounded-circle" src="{{ wine.picture is not empty ? vich_uploader_asset(wine) : asset('build/images/placeholder_wine.jpg') }}" alt="{{ wine.name ?? 'Default' }} image">
										</div>
										<div class="col-12 col-md-6 col-lg-8 mt-4 d-flex flex-column align-items-md-start align-items-center justify-content-around	">
											<h4 class=" mb-5 ps-3">{{ wine.name }}</h4>
											<ul class="mb-4">
												<li>
													<span class="wineSheetListTitle">Millésium :
													</span>
													{{ wine.year }}</li>
												<li>
													<span class="wineSheetListTitle">Provenance :
													</span>
													{{ wine.origin}}</li>
												<li>
													<span class="wineSheetListTitle">Type :
													</span>
													Vin
													{{ wine.grapeVariety.color.color}}</li>
												<li>
													<span class="wineSheetListTitle">Indication géographique:
													</span>
													{{ wine.protectedOrigin}}</li>
												<li>
													<span class="wineSheetListTitle">Cépage :
													</span>
													{{ wine.grapeVariety.name }}</li>
												<br>
												<li>
													<span class="wineSheetListTitle">Volume :
													</span>
													{{ wine.volume }}L</li>
												<li>
													<span class="wineSheetListTitle">Taux d'alcool :
													</span>
													{{ wine.alcoholPercent }}%</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="secondNavBarBorder">
									<div class="mySecondNavbar pt-3">
										<ul class="nav nav-pills mb-3 d-flex flex-column flex-md-row ps-md-5 ps-0 ms-md-3 ms-0 pt-4" id="pills-tab" role="tablist">
											{% for key, criteriaContent in criteriaContents %}
												<li class="nav-item d-flex" role="presentation">
													<button class="nav-link {% if loop.first %} {{ 'show active' }} {% endif %} align-self-center pt-3 pb-3 pe-0 ps-0 pe-md-4 letter-spacing" id="pills-{{ key }}{{ loop.index }}-{{ loop.parent.loop.index }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ key }}{{ loop.index }}-{{ loop.parent.loop.index }}" type="button" role="tab" aria-controls="pills-{{ key }}{{ loop.index }}-{{ loop.parent.loop.index }}" aria-selected="true">{{ key }}</button>
												</li>
											{% endfor %}
										</ul>
										<p class="ps-md-5 ps-0 ms-md-3 ms-0 spacingCiteriaTitle">Choississez une note de
											<span class="text-primary">0</span>
											à
											<span class="text-primary">10</span>
											en fonction des ces critères</p>
										<div class="tab-content" id="pills-tabContent">
											{% for key, criteriaContent in criteriaContents %}
												<div class="tab-pane fade show {% if loop.first %} {{ 'active' }} {% endif %}" id="pills-{{ key }}{{ loop.index }}-{{ loop.parent.loop.index }}" role="tabpanel" aria-labelledby="pills-{{ key }}{{ loop.index }}-{{ loop.parent.loop.index }}-tab" tabindex="0">
													<ul class="d-flex flex-column align-self-center ps-md-5 ps-1 ms-md-5 ms-2 mt-5">
														{% for criteria in criteriaContent %}
															<li class="list-group-item d-flex justify-content-between align-items-center mt-4">
																{% include 'components/svg/_icon_pine-circle.html.twig' with {'pine_number':loop.index} %}
																<div class="ms-2 me-auto">
																	<p class="mx-2 fw-light mb-0">{{ criteria }}</p>
																</div>
															</li>

														{% endfor %}
													</ul>
													{% if key == 'Apparence' %}
														<div class="d-flex flex-column align-items-center">
															{{ form_widget(tastingSheetForm.visual) }}
															<output class="mt-4 text-primary fs-1 fw-bold mb-4">5</output>
														</div>
													{% endif %}
													{% if key == 'Nez' %}
														<div class="d-flex flex-column align-items-center">
															{{ form_widget(tastingSheetForm.smell) }}
															<output class="mt-4  text-primary fs-1 fw-bold mb-4">5</output>
														</div>
													{% endif %}
													{% if key == 'Palais' %}
														<div class="d-flex flex-column align-items-center">
															{{ form_widget(tastingSheetForm.taste) }}
															<output class="mt-4 text-primary fs-1 fw-bold mb-4">5</output>
														</div>
													{% endif %}
													{% if wine == lastWine.vars.value.wine and key == 'Palais' %}
														<div class="d-flex justify-content-sm-end justify-content-center mt-4 w-100 buttonNext">
															<button class="d-flex align-items-center btn btn-outline-primary m-4 letter-spacing px-4">
																ENREGISTRER
																<span class="transform">
																	{% include "components/svg/_icon_next.svg.twig" %}
																</span>
															</button>
														</div>
													{% endif %}
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{{ form_end(form) }}
	</main>
{% endblock %}
