{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent() }}
	- Liste Des Vins
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('wine') }}
{% endblock %}

{% block body %}
	<main class="container">
		<section>
			<div class="row mb-4">
				<div class="col px-sm-5 px-3 m-auto pt-5">
					<h2 class="text-primary-light fw-light text-uppercase letter-spacing mt-5">
						{% include 'components/svg/_icon_decoration.svg.twig' %}LISTE DE NOS VINS
					</h2>
					<div class="frame_container">
						{% include "components/svg/_frame_surlignage_main.svg.twig" %}
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					{% for wine in wines %}
						<div class="col-sm-6 col-md-4 g-3">
							<div class="card">
								<div class="price-placeholder text-secondary bg-primary d-flex align-items-center justify-content-center fs-3 fw-bold shadow">€
									{{ wine.price }}
								</div>
								<div class="alcool-rate-placeholder text-secondary bg-primary d-flex align-items-center justify-content-center fs-6 fw-bold shadow">{{ wine.alcoholPercent ~ '%' }}</div>
								<img class="card-img-top" alt="image du vin" src="{{ wine.picture is not empty ? vich_uploader_asset(wine) : asset('build/images/placeholder_wine.jpg') }}">
								<div class="price-placeholder"></div>
								<div class="card-body">
									<h5 class="card-title text-capitalize text-primary-light text-center">{{ wine.name|u.truncate(22, '...') }}</h5>
									<div class="bar_separator"></div>
									<div class="container-fluid my-4">
										<div class="row row-cols-2 g-3">
											<div class="d-flex flex-column justify-content-center">
												<div class="col col-title">Millésime</div>
												<div class="col">{{ wine.year }}</div>
											</div>
											<div class="d-flex flex-column justify-content-center">
												<div class="col col-title">I.G</div>
												<div class="col">{{ wine.protectedOrigin }}</div>
											</div>
											<div class="d-flex flex-column justify-content-center">
												<div class="col col-title">Cépage</div>
												<div class="col">{{ wine.grapevariety.name|u.truncate(22, '...') }}</div>
											</div>
											<div class="d-flex flex-column justify-content-center">
												<div class="col col-title">Type</div>
												<div class="col">{{ wine.grapevariety.color.color }}</div>
											</div>
										</div>
										<div class="row">
											<div class="d-flex flex-column justify-content-center">
												<div class="col col-title">Origine</div>
												<div class="col">{{ wine.origin }}</div>
											</div>
										</div>
										<div class="row">
											<div class="d-flex flex-column justify-content-center">
												<div class="col col-title">Volume</div>
												<div class="col">{{ wine.volume ~ ' L' }}</div>
											</div>
										</div>
									</div>
								</div>

								<div class="card-footer bg-transparent d-flex justify-content-end align-items-center">
									<a href="#" role="button" class="btn fw-bolder icon-link icon-link-hover-left icon-light text-uppercase my-2">
										{{ include('/components/svg/_icon_cart_check_fill.svg.twig') }}
										COMMANDER
									</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</main>
{% endblock %}