{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent() }}
	- Liste Des Vins
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('wine') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('wine-js') }}
{% endblock %}

{% block body %}
	<main class="container-lg container-fluid my-5">
		<section>
			<div class="d-flex align-items-end">
				<span class="decoration-title">
					{% include 'components/svg/_icon_decoration.svg.twig' %}
				</span>
				<h2 class="text-primary-light fw-light letter-spacing m-0 text-uppercase">
					{{ title }}
				</h2>
			</div>
			<div class="line-gradient"></div>

			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<div class="text-end">
							<a class="link icon-link icon-link-hover icon text-uppercase text-decoration-none me-2 my-3" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
								Filtrer
								{% include "components/svg/_icon_eye.svg.twig" %}
							</a>
						</div>
						<div class="collapse" id="collapseSearch">
							<div class="card card-body">
								{% include "components/search/_searchWinFormData.html.twig" with {form : form } only %}
							</div>
						</div>
					</div>
				</div>

				<div class="row my-4">
					{% for wine in wines %}
						<div class="col-sm-6 col-lg-4 g-3">
							<div class="card">
								<div class="price-placeholder text-secondary bg-primary d-flex align-items-center justify-content-center fs-4 fw-bold shadow">€
									{{ wine.price }}
								</div>

								<img class="card-img-top" alt="image du vin" src="{{ wine.picture is not empty ? vich_uploader_asset(wine) : asset('build/images/placeholder_wine.jpg') }}">
								<div class="price-placeholder"></div>
								<div class="card-body">
									{% if app.user %}
										{{ component('UpdateStateFavoriteWineComponent', { wine : wine }) }}
									{% endif %}
									<h5 class="card-title text-capitalize text-primary-light text-center">{{ wine.name|u.truncate(20, '...') }}</h5>
									<a class="nav-link text-primary-light mb-2 letter-spacing fs-p" href="{{ path('app_wine_show', {'id': wine.id} ) }}">
										En savoir plus
										<span class="text-primary-light custom-transform">
											<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-eye-fill fs-5" viewbox="0 0 16 16">
												<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
												<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
											</svg>
										</span>
									</a>
									<div class="bar_separator"></div>
									<div class="container-fluid mt-4 mb-0">
										<div class="row row-cols-2 g-3 row-gap-2">
											<div class="col d-flex flex-column justify-content-center mt-0">
												<div class="col-title letter-spacing">Millésime</div>
												<p class="bloc-value">{{ wine.year }}</p>
											</div>
											<div class="col d-flex flex-column justify-content-center mt-0">
												<div class="col-title letter-spacing">Cépage</div>
												<p class="bloc-value">{{ wine.grapevariety.name|u.truncate(15, '...') }}</p>
											</div>
											<div class="col d-flex flex-column justify-content-center mt-0">
												<div class="col-title letter-spacing">Type</div>
												<p class="bloc-value">{{ wine.grapevariety.color.color }}</p>
											</div>
											<div class="col d-flex flex-column justify-content-center mt-0">
												<div class="col-title letter-spacing">Origine</div>
												<p class="bloc-value">{{ wine.wineRegion.regionName|u.truncate(20, '...') }}</p>
											</div>
											<div class="col d-flex flex-column justify-content-center mt-0">
												<div class="col-title letter-spacing">Volume</div>
												<p class="bloc-value">{{ wine.volume ~ ' L' }}</p>
											</div>
											<div class="col d-flex flex-column justify-content-center mt-0">
												<div class="col-title letter-spacing">Taux Alcool</div>
												<p class="bloc-value">{{ wine.alcoholPercent ~ '%' }}</p>
											</div>
										</div>
									</div>
								</div>

								<div class="card-footer bg-transparent d-flex justify-content-end align-items-center">
									{{ component('SendWineOrderComponent', { 'wine' : wine }) }}
								</div>
							</div>
						</div>
					{% else %}
						<p class="text-light">Aucun vin n'a été enregistré pour le moment.</p>
					{% endfor %}
				</div>
			</div>
		</section>
	</main>
{% endblock %}
