{% extends 'visitor.html.twig' %}
{% block title %}
	{{ parent()}}
	- Recette
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('wine') }}
{% endblock %}
{% block body %}
	<main class="container-fluid container-md">
		<div class="d-flex align-items-end">
			<span class="decoration-title">
				{% include 'components/svg/_icon_decoration.svg.twig' %}
			</span>
			<h2 class="text-primary-light fw-light mt-5 letter-spacing m-0 text-uppercase">
				Vin
			</h2>
		</div>

		<div class="line-gradient"></div>

		<div class="d-flex flex-column flex-md-row shadow-container custom-wine-border mt-5 position-relative">
			<div class="price-placeholder text-secondary bg-primary d-flex align-items-center justify-content-center fs-4 fw-bold shadow">€
				{{ wine.price }}
			</div>
			<div class="wine-size-img">
				<img class="object-fit-cover h-100 w-100" src="{{ asset('build/images/placeholder_wine.jpg') }}" alt="{{ 'photo du vin ' ~ wine.name|capitalize }}">
			</div>
			<div class="custom-card-wine d-flex flex-column py-4 px-3 d-flexpt-3 bg-card m-0 p-3 position-relative w-100">
				{% if app.user %}
					{{ component('UpdateStateFavoriteWineComponent', { wine : wine }) }}
				{% endif %}
				<h3 class="fs-3">{{ 'Vin ' ~ wine.grapeVariety.color.color ~ ', ' ~ wine.name }}</h3>
				<div class="line"></div>

				<div class="row row-cols-2 g-3 mt-4">
					<div class="d-flex flex-column justify-content-center">
						<div class="col col-title">Région</div>
						<div class="col">{{ wine.wineRegion.regionName }}</div>
					</div>
					<div class="d-flex flex-column justify-content-center">
						<div class="col col-title">Millésime</div>
						<div class="col">{{ wine.year }}</div>
					</div>
					<div class="d-flex flex-column justify-content-center">
						<div class="col col-title">Cépage</div>
						<div class="col">
							{{ wine.grapeVariety.name }}
						</div>
					</div>
					<div class="d-flex flex-column justify-content-center">
						<div class="col col-title">Couleur</div>
						<div class="col">
							{{ wine.grapeVariety.color.color }}
						</div>
					</div>
					<div class="d-flex flex-column justify-content-center">
						<div class="col col-title">Volume</div>
						<div class="col">
							{{ wine.volume ~ 'mL'}}
						</div>
					</div>
					<div class="d-flex flex-column justify-content-center">
						<div class="col col-title">Taux d'alcool</div>
						<div class="col">
							{{ wine.alcoholPercent ~ '%' }}
						</div>
					</div>
					<div class="d-flex flex-column justify-content-center">
						<div class="col col-title">I.G</div>
						<div class="col">
							{{ wine.protectedOrigin }}
						</div>
					</div>
					<div class="d-flex flex-column justify-content-center">
						<div class="col col-title">Goût du vin</div>
						<div class="col">
							{{ wine.wineTaste.tasteName }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex flex-sm-row flex-column align-items-center justify-content-between my-4 px-2 gap-3 mb-5">
			<a class="btn fw-bolder icon-link icon-link-hover-left icon-light text-uppercase order-2 order-sm-1 custom-min-width" onclick="history.back()">
				{% include "components/svg/_icon_backlink.svg.twig" %}
				Retour
			</a>
			<div class="order-1 order-sm-2">
				{{ component('SendWineOrderComponent', { 'wine' : wine }) }}
			</div>
		</div>
	</main>
{% endblock %}
