<form method="post" action="{{ path('app_admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer l'utilisateur {{ user.lastname }} {{ user.firstname }} ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
	<button class="bg-transparent border-0">
		<a class="icon-link icon-link-hover-left link-light text-decoration-none">
			{{ include('/components/svg/_icon_trash.svg.twig') }}
			Supprimer
		</a>
	</button>
</form>
