{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent()}}
	- Inscription
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('registration') }}
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<main class="container-fluid d-flex justify-content-center align-items-center my-5 my-md-0">
		<div class="row">
			<div class="col-11 m-auto px-3 border border-secondary d-flex flex-column align-items-center pt-5 bg-card ornement position-relative shadow-container">
				<div class="text-center my-5 pb-4">
					<p>Nous avons enregistré votre inscription avec succès.</p>
					<p>Un courrier électronique vous sera envoyé pour confirmer votre inscription.</p>
					<div class="w-50 m-auto my-4">
						<a class="btn btn-sm custom-btn-width fw-bolder icon-link icon-link-hover-left icon-light text-uppercase order-sm-1" href="{{ path('home_index') }}">
							{% include "components/svg/_icon_backlink.svg.twig" %}
							Retour
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
