{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent()}}
	- Inscription
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('quiz') }}
{% endblock %}

{% block body %}

	<main class="container-fluid d-flex justify-content-center align-items-center my-5 my-md-0">
		<div class="row w-75">
			<div class="m-auto px-3 border border-secondary d-flex flex-column align-items-center pt-5 bg-card ornement position-relative">
				<h2 class="text-center text-uppercase letter-spacing mt-5">Récapitulatif de ton profil gustatif</h2>
				{% include "components/svg/_frame_surlignage.svg.twig" %}
				<div class="container d-flex justify-content-center py-5">
					<div class="border border-secondary rounded p-5">
						<h3 class="px-5">Connaissance du vin</h4>
						<p class="px-5 pb-3 fs-5">{{ recap.wineKnowledge }}</p>
						<h3 class="px-5">Couleur favorite</h4>
						<p class="px-5 pb-3 fs-5">{{ recap.wineColour }}</p>
						<h3 class="px-5">Type de vin préféré</h4>
						<p class="px-5 pb-3 fs-5">{{ recap.wineTaste.tasteName }}</p>
						<h3 class="px-5">Région préférée</h4>
						<p class="px-5 fs-5">{{ recap.wineRegion }}</p>
					</div>
				</div>
                <div class="w-25 mb-3 p-5">
						<div class="d-flex flex-column justify-content-between gap-5">
							<a role="button" href="{{ path('home_index') }}" class="btn btn-sm bg-primary-light text-dark fw-bolder icon-link icon-link-hover icon-dark text-uppercase order-2 d-flex justify-content-center">
								{{ button_label|default('Valider') }}
								{{ include('/components/svg/_icon_validate.svg.twig') }}</a>
							<a role="button" href="{{ path('app_user_quiz_quiz') }}" class="btn btn-sm fw-bolder icon-link icon-link-hover-left icon-light text-uppercase order-1 d-flex justify-content-center">
								{{ include('/components/svg/_icon_close.svg.twig') }}
								{{ button_label|default('Modifier') }}</a>
						</div>
					</div>
			</div>
		</div>
	</main>
{% endblock %}
