{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent()}}
	- Vérification Email
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('resetPassword') }}
{% endblock %}

{% block body %}
	<main class="container-fluid d-flex justify-content-center align-items-center my-5 my-md-0">
		<div class="row">
			<div class="col-11 custom-max-width m-auto px-3 px-md-5 border border-secondary d-flex flex-column align-items-center py-5 bg-card ornement position-relative">
				<p class="fw-light">
					Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans
					{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
				</p>
				<p class="fw-light m-0">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de spam ou
					<a href="{{ path('app_forgot_password_request') }}" class="text-decoration-none fw-bolder">réessayer</a>.
				</p>
			</div>
		</div>
	</main>
{% endblock %}
