{% extends 'emailLayout.html.twig' %}

{% block body %}
	<h1 style="border-bottom: 0.1rem solid gray;">COMMANDE D'UN VIN</h1>
	<p>Date du {{ "now"|date("m/d/Y") }}</p>
	<p>Client {{ user.firstname ~ '-' ~ user.lastname }}</p>
	<p style ="padding: 1em;">
		
		<p style ="margin: 1em;">
			<div style="padding: 1em;background-color: rgba(255, 255, 128, .5);border: 0.2rem solid gray;">
				<h2>{{ wine.name|capitalize }}</h2>
				<p style="border-bottom: 0.1rem solid gray;"></p>
				<p>Année {{ wine.year }}</p>
				<p>Cépage {{ wine.grapeVariety.name }}</p>
				<p>Origine {{ wine.origin }}</p>
			</div>
		</p>
	</p>
{% endblock %}