{{ form_start(form) }}
<div class="container px-4" data-turbo="false">

	<div class="row d-flex align-items-center">
		<div class="col-4">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
			{{ form_errors(form.name) }}
		</div>
		<div class="cepage-search col p-0">
			{{ form_label(form.grapeVarieties) }}
			{{ form_widget(form.grapeVarieties) }}
			{{ form_errors(form.grapeVarieties) }}
		</div>
	</div>

	<div class="d-none">
		{{ form_widget(form.minPrice) }}
		{{ form_widget(form.maxPrice) }}
	</div>

	<div class="row">
		<div class="mb-3 py-3">
			<div class="col">
				<div class="d-flex justify-content-between">
					<h4 class="mb-3 fs-5">Prix min</h4>
					<h4 class="mb-3 fs-5">Prix max</h4>
				</div>
				<div>
					<div id="price_wine_slider" class="m-4" data-max-price="{{ constant('App\\Search\\SearchWineData::MAX_PRICE') }}" data-min-price="{{ constant('App\\Search\\SearchWineData::MIN_PRICE') }}"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="mb-3 d-flex justify-content-end gap-4">
				<button id="Reset" name="Reset" type="reset" class="btn fw-bolder mb-4 icon-link icon-link-hover-left icon-light text-uppercase">
					{% include "components/svg/_icon_trash.svg.twig" %}
					RESET
				</button>

				<button class="btn bg-primary-light text-dark fw-bolder mb-4 icon-link icon-link-hover-left icon-dark text-uppercase">
					{% include "components/svg/_icon_search.svg.twig" %}
					FILTRER
				</button>
			</div>
		</div>
	</div>

</div>
{{ form_end(form) }}
