<div class="d-flex flex-column gap-4">
	<div class="row d-flex flex-column flex-sm-row gap-4 gap-sm-0">
		<div class="col">
			{{ form_start(form) }}
			{{ form_label(form.lastname) }}
			{{ form_widget(form.lastname) }}
			{{ form_errors(form.lastname) }}
		</div>
		<div class="col">
			{{ form_label(form.firstname) }}
			{{ form_widget(form.firstname) }}
			{{ form_errors(form.firstname) }}
		</div>
	</div>
	<div class="row flex-column flex-sm-row gap-4 gap-sm-0">
		<div class="col">
			{{ form_label(form.email) }}
			{{ form_widget(form.email) }}
			{{ form_errors(form.email) }}
		</div>
		<div class="col">
			{{ form_label(form.date_birth) }}
			{{ form_widget(form.date_birth) }}
			{{ form_errors(form.date_birth) }}
		</div>
	</div>
	<div class="row flex-column flex-sm-row gap-4 gap-sm-0">
		<div class="col">
			{{ form_label(form.address) }}
			{{ form_widget(form.address) }}
			{{ form_errors(form.address) }}
		</div>
		<div class="col">
			{{ form_label(form.zip_code) }}
			{{ form_widget(form.zip_code) }}
			{{ form_errors(form.zip_code) }}
		</div>
	</div>
	<div class="row flex-column flex-sm-row gap-4 gap-sm-0">
		<div class="col">
			{{ form_label(form.city) }}
			{{ form_widget(form.city) }}
		</div>
		<div class="col">
			{{ form_label(form.country) }}
			{{ form_widget(form.country) }}
			{{ form_errors(form.country) }}
		</div>
	</div>
</div>
