{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent() }}
	- Profil utilisateur
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
	<main class="container-fluid d-flex justify-content-center align-items-center my-5">
		<div class="row w-50">
			<div class="col-11 m-auto border border-secondary d-flex flex-column p-5 bg-card ornement position-relative">
				<h2 class="text-center text-uppercase letter-spacing mt-5">Profil utilisateur</h2>
				<div class="m-auto">
					{% include "components/svg/_frame_surlignage.svg.twig" %}
				</div>
				<div class="d-flex">
					<div>
						{% include "components/svg/_icon_profile_user.svg.twig" %}
					</div>
				</div>
				<div>
					{{ include('user_profile/_profileForm.html.twig', {'button_label': 'Modifier'}) }}
				</div>
				<div class="mt-5 w-100 d-flex flex-column gap-2">
					<a href="{{ path('app_forgot_password_request') }}" class="letter-spacing text-decoration-none btn1">Réinitialiser mon mot de passe</a>
					<form method="post" action="{{ path('app_admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer l'utilisateur {{ user.lastname }} {{ user.firstname }} ?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
						<button class="bg-transparent border-0 p-0 w-100">
							<a class="text-decoration-none btn2">
								{{ include('/components/svg/_icon_trash.svg.twig') }}
								Supprimer mon compte
							</a>
						</button>
					</form>
				</div>
				<div class="d-flex justify-content-end my-5">
					<button class="btn bg-primary-light text-dark fw-bolder mb-4 icon-link icon-link-hover icon-dark text-uppercase">
						{{ button_label|default('Valider') }}
						{% include "components/svg/_icon_validate.svg.twig" %}
					</button>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
