{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent() }}
	- Profil utilisateur
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
	<main class="container-fluid d-flex justify-content-center align-items-center my-5">
		<div class="row w-100">
			<div class="col-sm-11 col-md-10 col-lg-8 m-auto border border-secondary d-flex flex-column bg-card ornement position-relative py-5 px-3 px-sm-5">
				<h2 class="text-center text-uppercase letter-spacing mt-5">Profil utilisateur</h2>
				<div class="m-auto">
					{% include "components/svg/_frame_surlignage.svg.twig" %}
				</div>
				<div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 gap-md-5 my-5">
					<div class="my-md-5">
						{% include "components/svg/_icon_profile_user.svg.twig" %}
					</div>

					{% if user.userPreference is empty %}
						<div class="d-flex flex-column justify-content-center align-items-center">
							<p>Vous avez aucune préférence.</p>
							<a href="{{ path('app_user_quiz_quiz') }}" class="btn1 text-decoration-none letter-spacing text-uppercase">Répondre au quizz</a>
						</div>
					{% else %}
						<div class="d-flex flex-column justify-content-center border border-secondary rounded-3">
							<h3 class="text-uppercase fs-5 text-primary-light px-4 my-3">Mes préférérences</h3>
							<div class="line mb-2"></div>
							<ul class="list-unstyled d-flex flex-column gap-3 px-4">
								<li class="letter-spacing">
									<span class="text-primary-light">Couleur favorite :</span>
									{{ user.userPreference.wineColour }}
								</li>
								<li class="letter-spacing">
									<span class="text-primary-light">Connaissance du vin :</span>
									{{ user.userPreference.wineKnowledge }}
								</li>
								<li class="letter-spacing">
									<span class="text-primary-light">Région préféré :</span>
									{{ user.userPreference.wineRegion.regionName }}
								</li>
								<li class="letter-spacing">
									<span class="text-primary-light">Type de vin préféré :</span>
									{{ user.userPreference.wineTaste.tasteName }}
								</li>
							</ul>
						</div>
					{% endif %}

				</div>
				{{ form_start(form) }}
				<div>
					{{ include('user_profile/_profileForm.html.twig', {'button_label': 'Modifier'}) }}
				</div>

				<div class="mt-5 w-100 d-flex flex-column gap-2">
					<a href="{{ path('app_forgot_password_request') }}" class="letter-spacing text-decoration-none btn1 text-uppercase">Changer mon mot de passe</a>

					<button type="button" class="btn2 bg-transparent border-0 p-0 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
						<span class="text-decoration-none letter-spacing btn2 text-uppercase">
							Désactiver mon compte
						</span>
					</button>
				</div>
				<div class="d-flex justify-content-end my-5">
					<button class="btn btn-sm bg-primary-light text-dark fw-bolder mb-4 icon-link icon-link-hover icon-dark text-uppercase">
						{{ button_label|default('Valider') }}
						{% include "components/svg/_icon_validate.svg.twig" %}
					</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content bg-card border border-secondary custom-shadow">

					<div class="modal-body text-center custom-modal p-4 p-sm-5">
						<p class="m-0 py-5">Êtes-vous sûr de vouloir désactiver votre compte ?</p>
						<small class="letter-spacing">
							<span class="custom-position d-inline-block me-1">
								{% include "components/svg/_icon_info.svg.twig" %}
							</span>
							Un mail sera envoyé à un administrateur afin de désactiver votre compte dans un délai de 48 heures.
						</small>
					</div>
					<div class="modal-footer d-flex justify-content-around">
						<button class="btn btn-sm fw-bolder icon-link icon-link-hover-left icon-light text-uppercase d-flex justify-content-center" data-bs-dismiss="modal">
							{% include "components/svg/_icon_close.svg.twig" %}
							Non
						</button>

						<a class="btn btn-sm bg-primary-light text-dark fw-bolder icon-link icon-link-hover icon-dark text-uppercase ps-4" href="{{ path('user_profile_desable', {'id' : user.id}) }}">
							Oui
							{% include "components/svg/_icon_validate.svg.twig" %}
						</a>

					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
