{% extends 'visitor.html.twig' %}
{% block title %}
	{{ parent()}}
	- Liste des Recettes
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('recipe') }}
{% endblock %}
{% block body %}
	<header class="container-fluid container-md py-5 mb-5">
		<h2 class="text-primary-light fw-light mt-5 letter-spacing">
			{% include "components/svg/_icon_decoration.svg.twig" %}RECETTES
		</h2>

		<div>
			{% include 'components/svg/_frame_surlignage_main.svg.twig' %}
		</div>
	</header>

<main class="container container-sm container-md">
	<div class="row">
		{% for recipe in recipes %}
		<div class="col-md-6 mb-4">
			<div class="recipe-card p-3">
				<div class="d-flex">
					<div class="recipe-h2 text-nowrap">
						<h2 class="custom-card-title fs-3">{{ recipe.name|u.truncate(20, '...') }} </h2>
					</div>
					<div class="line"></div>
				</div>
				{% if app.user %}
					{{ component('UpdateStateFavoriteRecipeComponent', { recipe : recipe }) }}
				{% endif %}
				<div class="d-flex flex-row w-100 justify-content-center mt-2 gap-3">
					<div class="recipe-img w-25 col-3">
						<img src="{{ asset('build/images/wine.svg') }}" alt="wine">
					</div>
					<div class="d-flex gap-3 w-75 flex-column">
						{% for itemTastingSheet in recipe.tastingSheet %}
						<div class="d-flex gap-2">
							<div class="col-9 ">
								{% set width = (itemTastingSheet.dosage ?? '0' * 100) / containerReference %}
								<p class="mb-1 recipe-scroll overflow-x-auto text-nowrap fs-p">{{
									itemTastingSheet.wine.name|capitalize ~ ', '
									~ itemTastingSheet.wine.grapeVariety.name|capitalize }} </p>
								<div class="d-flex flex-row gap-3">
									<div class="progress w-100" role="progressbar" aria-label="Basic example"
										aria-valuenow="{{ itemTastingSheet.dosage ?? '0'}}" aria-valuemin="0"
										aria-valuemax="100">
										<div class="progress-bar" style="width: {{ width ~ '%'}};"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="d-flex justify-content-end align-items-end h-100 custom-transform">
									<p class="mb-0 pt-3"> {{ itemTastingSheet.dosage ?? '0'}}Ml</p>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="d-flex w-100  flex-sm-row justify-content-between gap-3 mt-4 pt-2">
					<a class="btn btn-sm btn-primary" href="{{ path('recipe_show', {'id': recipe.id}) }}">DÉTAILS</a>
					<div class="d-flex justify-content-end align-items-center">
							{{ component('SendRecipeOrderComponent', { recipe : recipe }) }}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</main>
{% endblock %}