{% extends 'visitor.html.twig' %}
{% block title %}
	{{ parent()}}
	- Recette
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('recipe') }}
{% endblock %}
{% block body %}
	<main class="container-fluid container-md py-5 mb-5">
		<h2 class="text-primary-light fw-light mt-5 letter-spacing">
			{% include 'components/svg/_icon_decoration.svg.twig' %}RÉSULTATS
		</h2>
		<div>
			{% include "components/svg/_frame_surlignage_main.svg.twig" %}
		</div>
		<div class="d-flex gap-3 text-primary-light fs-4 mt-4">
			<p class="mb-1 d-flex align-items-center gap-2 badge bg-primary text-dark p-2">
				{% include "components/svg/_icon_date.svg.twig" %}
				{{ recipe.session.openingDate|date("d/m/Y", "Europe/Paris", "fr") }}
			</p>
			<p class="mb-1 d-flex align-items-center gap-2 badge bg-primary text-dark p-2">
				{% include "components/svg/_icon_clock.svg.twig" %}
				{{ recipe.session.openingDate|date("H", "Europe/Paris") ~ 'H' ~ ' - ' ~
            recipe.session.openingDate|date_modify('+ 3 hours')|date("H", "Europe/Paris") ~ 'H' }}
			</p>
		</div>
		<div class="row mx-1 mt-5">
			<div class="col custom-card d-flex flex-column flex-sm-row px-3 border border-secondary d-flex align-items-center pt-3 bg-card m-0">
				<div class="wine-ticket">
					<div class="wine-name">
						<p class="custom-name">jean françois de lune et du soleil</p>
					</div>
					{% include "components/svg/_icon_wine_ticket.svg.twig" %}
				</div>
				<div class="content px-2 px-sm-2 ms-sm-2 px-md-4 px-lg-4 px-xl-5">
					<div class="mt-4 mb-2">
						<p class="text-center text-uppercase fs-3 mb-1 text-primary">Bravo</p>
						<p class="text-center text-uppercase">Tu as créés ta propre bouteille de vin !</p>
					</div>
					<div class="align-self-start w-100 mb-4">
						<div class="stats">
							<h2 class="custom-card-title fs-5 flex-fill">Dosage des cépages</h2>
						</div>
						{% for itemTastingSheet in recipe.tastingSheet %}
							<p>{{ itemTastingSheet.wine.name|capitalize ~ ', ' ~ itemTastingSheet.wine.grapeVariety.name }}</p>
							<p>{{ itemTastingSheet.dosage ?? '0mL'}}</p>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center justify-content-sm-end align-items-center border border-secondary py-3 rounded-bottom">
				<button type="submit" class="btn btn-sm bg-primary-light text-dark fw-bolder icon-link icon-link-hover icon-dark text-uppercase order-2 d-flex justify-content-center me-sm-2 me-md-4 me-xl-5">
					{{ button_label|default('Commander') }}
					{{ include('/components/svg/_icon_validate.svg.twig') }}
				</button>
			</div>
		</main>
	{% endblock %}
