{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent()}}
	- Recette
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('recipe') }}
{% endblock %}

{% block body %}
	<main class="container-fluid container-md py-5 mb-5">
		{{ form_start(form)}}
		<div class="d-flex align-items-end">
			<span class="decoration-title">
				{% include 'components/svg/_icon_decoration.svg.twig' %}
			</span>
			<h2 class="text-primary-light fw-light mt-5 letter-spacing m-0 text-uppercase">
				Résultats
			</h2>
		</div>
		<div class="line-gradient"></div>
		<div class="d-flex gap-3 text-primary-light fs-4 mt-4">
			<p class="mb-1 d-flex align-items-center gap-2 badge bg-primary text-dark p-2">
				{% include "components/svg/_icon_date.svg.twig" %}
				{{ recipe.session.openingDate|date("d/m/Y", "Europe/Paris", "fr") }}
			</p>
			<p class="mb-1 d-flex align-items-center gap-2 badge bg-primary text-dark p-2">
				{% include "components/svg/_icon_clock.svg.twig" %}
				{{ recipe.session.openingDate|date("H", "Europe/Paris") ~ 'H' ~ ' - ' ~
	            recipe.session.openingDate|date_modify('+ 3 hours')|date("H", "Europe/Paris") ~ 'H' }}
			</p>
		</div>
		<div class="row mx-1 mt-5">
			<div class="col custom-card shadow-container d-flex flex-column flex-md-row px-3 border border-secondary d-flex align-items-center pt-3 bg-card m-0">
				<div class="wine-ticket ms-4 px-2">
					<div class="wine-name">
						<p class="custom-name">{{ recipe.name }}</p>
					</div>
					{% include "components/svg/_icon_wine_ticket.svg.twig" %}
				</div>
				<div class="content px-2 mx-4">
					<div class="mt-4 mb-2">
						<p class="text-center text-uppercase">Tu as créés ta propre bouteille de vin !</p>
					</div>

					<div class="w-100 mb-5">
						<div class="stats">
							<h2 class="custom-card-title fs-5 text-nowrap">Nom de la recette</h2>
							<div class="header-line"></div>
						</div>

						<small class="d-flex align-items-start letter-spacing text-start w-100 mb-4">
							<div class="custom-position me-2">
								{% include "components/svg/_icon_info.svg.twig" %}
							</div>
							Vous pouvez ajouter un nom à votre recette.
						</small>

						<div class="w-100">
							{{ form_label(form.name)}}
							{{ form_widget(form.name)}}
							{{ form_errors(form.name) }}
						</div>
					</div>

					<div class="d-flex flex-column gap-2 w-100 mb-4 pb-2">
						<div class="stats">
							<h2 class="custom-card-title fs-5 text-nowrap">Dosage des cépages</h2>
							<div class="header-line"></div>
						</div>

						<small class="d-flex align-items-start letter-spacing text-start w-100 mb-4">
							<div class="custom-position me-2">
								{% include "components/svg/_icon_info.svg.twig" %}
							</div>
							Vous pouvez modifier votre recette générée selon vos notes avant de valider la version finale.
						</small>

						{% for formTastingSheet in form.tastingSheet %}
							{% set tastingSheet = formTastingSheet.vars.value %}
							<div>
								<p class="m-0">{{ tastingSheet.wine.name|capitalize ~ ', ' ~ tastingSheet.wine.grapeVariety.name }}</p>

								<div class="d-flex align-items-center gap-2">
									{{ form_widget(formTastingSheet.dosage)}}
									<output class="text-primary fs-3 fw-bold custom-dosage-width text-end">{{ tastingSheet.dosage }}</output>
									<span>mL</span>
								</div>
							</div>
						{% endfor %}
						<div class="d-flex justify-content-end mt-3 align-items-center gap-2">
							<p class="text-light text-uppercase fs-4 fw-bolder m-0">Total</p>
							<span class="badge bg-primary fs-3 text-dark-light">
								{{ resultDosages }}mL
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex flex-column justify-content-between flex-sm-row gap-4 border border-secondary py-3 rounded-bottom px-4 px-md-5 shadow-container bg-dark-light">
				<button type="submit" class="btn btn-sm bg-primary-light text-dark fw-bolder icon-link icon-link-hover icon-dark text-uppercase d-flex justify-content-center order-sm-2">
					{{ button_label|default('Valider') }}
					{{ include('/components/svg/_icon_validate.svg.twig') }}
				</button>
				<a class="btn btn-sm custom-btn-width fw-bolder icon-link icon-link-hover-left icon-light text-uppercase order-sm-1" href="{{ path('recipe_show', { 'id' : recipe.id }) }}">
					{% include "components/svg/_icon_backlink.svg.twig" %}
					Voir ma recette
				</a>
			</div>
		</div>
		{{ form_end(form)}}
	</main>
{% endblock %}
