{% extends 'visitor.html.twig' %}
{% block title %}
	{{ parent()}}
	- Recette
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('recipe') }}
{% endblock %}
{% block body %}
	<main class="container-fluid container-md my-5">
		<div class="d-flex align-items-end">
			<span class="decoration-title">
				{% include 'components/svg/_icon_decoration.svg.twig' %}
			</span>
			<h2 class="text-primary-light fw-light letter-spacing m-0 text-uppercase">
				{{ recipe.name }}
				<span class="fs-4 mx-1">créé par</span>
				{{ recipe.user.firstName }}
				{{ recipe.user.lastName }}
			</h2>
		</div>
		<div class="line-gradient"></div>

		<div class="d-flex gap-3 text-primary-light fs-4 mt-4">
			<p class="mb-1 d-flex align-items-center gap-2 badge bg-primary text-dark p-2">
				{% include "components/svg/_icon_date.svg.twig" %}
				{{ recipe.session.openingDate|date("d/m/Y", "Europe/Paris", "fr") }}
			</p>
			<p class="mb-1 d-flex align-items-center gap-2 badge bg-primary text-dark p-2">
				{% include "components/svg/_icon_clock.svg.twig" %}
				{{ recipe.session.openingDate|date("H", "Europe/Paris") ~ 'H' ~ ' - ' ~
            recipe.session.openingDate|date_modify('+ 3 hours')|date("H", "Europe/Paris") ~ 'H' }}
			</p>
		</div>
		<div class="row mx-1 mt-5">
			<div class="col custom-card shadow-container d-flex flex-column flex-md-row px-3 border border-secondary d-flex align-items-center pt-3 bg-card m-0 position-relative">
				<div class="heart-position">
					{% if app.user %}
						{{ component('UpdateStateFavoriteRecipeComponent', { recipe : recipe }) }}
					{% endif %}
				</div>
				<div class="wine-ticket ms-4 px-2">
					<div class="wine-name">
						<p class="custom-name">{{recipe.name}}</p>
					</div>
					{% include "components/svg/_icon_wine_ticket.svg.twig" %}
				</div>
				<div class="content px-2 mx-4">
					<div class="d-flex flex-column gap-3 w-100 my-4 pb-2">
						<div class="stats">
							<h2 class="custom-card-title fs-5 text-nowrap">Créateur de la recette</h2>
							<div class="header-line"></div>
						</div>
						<div>
							<p class="w-100 fs-p">Créateur :
								{{ recipe.user.lastname ~ ' ' ~ recipe.user.firstname }}</p>
							<p class="w-100 fs-p">Nom de la recette :
								{{ recipe.name }}</p>
						</div>
						<div class="stats">
							<h2 class="custom-card-title fs-5 text-nowrap">Dosage des cépages</h2>
							<div class="header-line"></div>
						</div>
						{% for itemTastingSheet in recipe.tastingSheet %}
							{% set width = (itemTastingSheet.dosage ?? '0' * 100) / containerReference %}
							<div class="w-100">
								<p class="m-0 recipe-scroll overflow-x-auto text-nowrap fs-p">{{
							itemTastingSheet.wine.name|capitalize ~ ', '
							~ itemTastingSheet.wine.grapeVariety.name|capitalize }}
								</p>
								<div class="d-flex align-items-center gap-2">
									<div class="progress w-100" role="progressbar" aria-label="Basic example" aria-valuenow="{{ itemTastingSheet.dosage ?? '0'}}" aria-valuemin="0" aria-valuemax="100">
										<div class="progress-bar" style="width: {{ width ~ '%'}};"></div>
									</div>
									<span class="m-0 custom-dosage-show-width text-end">
										<span class="text-primary fw-bold fs-5">{{ itemTastingSheet.dosage}}</span>
										mL</span>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="d-flex border border-secondary py-3 rounded-bottom px-4 px-md-5 shadow-container bg-dark-light z-1">
				<a class="btn btn-sm fw-bolder icon-link icon-link-hover-left icon-light text-uppercase order-3 order-sm-1" href="{{ path('recipe_index') }}">
					{% include "components/svg/_icon_backlink.svg.twig" %}
					Retour
				</a>
			</div>
		</div>
	</main>
{% endblock %}
