<div class="row mb-4">
	<div class="col-sm-12 col-11 px-sm-5 px-3 m-auto pt-5 ">
		<h2 class="text-primary-light fw-light text-uppercase letter-spacing mt-5">
			{% include 'components/svg/_icon_decoration.svg.twig' %}SÉANCES OUVERTES
		</h2>
		<div class="frame_container">
			{% include "components/svg/_frame_surlignage_main.svg.twig" %}
		</div>
	</div>
</div>

{% for session in sessionsOpened %}
	<div class="row m-4 p-2">
		<div class="col m-auto border border-secondary rounded-3 bg-card">

			<div class="row mb-2">
				<div class="col d-flex justify-content-between align-items-center m-4">
					<span class=" text-primary-light fs-4 m-1">
						Séance du
						{{ session.openingDate|date("d F Y", "Europe/Paris") }}
					</span>
					<span class="w-75 fw-bold align-self-end text-end border-secondary border-bottom mb-2 {{ session.closed ? 'text-warning' : 'text-success' }}">
						{{ session.closed ? 'FERMÉE' : 'OUVERTE' }}
					</span>
				</div>
			</div>

			<div class="row d-flex flex-row m-4 g-2">
				<div class="col-8">
					<div class="bg-primary text-center text-dark letter-spacing me-auto">
						LIEU
					</div>
					<div class="text-start text-light letter-spacing me-auto mt-2">
						Château de Chambord, 41250 Chambord.
					</div>
				</div>
				<div class="col-4">
					<div class="bg-primary text-center text-dark letter-spacing ms-auto">
						HORAIRE
					</div>
					<div class="text-center text-light letter-spacing ms-auto mt-2">
						{{ session.openingDate|date("H", "Europe/Paris") ~ 'H' ~ ' - ' ~  session.openingDate|date_modify('+ 3 hours')|date("H", "Europe/Paris") ~ 'H' }}
					</div>
				</div>
			</div>

			<div class="row row-cols-xl-2 row-cols-1 g-2 m-2">
				{% for i in 1..4%}
					<div class="col">
						{% include './components/session/_card_session_grape_variety.html.twig' %}
					</div>
				{% endfor %}
			</div>

			<div class="row mb-4">
				<div class="col d-flex justify-content-end align-items-center me-4">
					<button class="btn bg-primary-light text-dark fw-bolder mb-4 icon-link icon-link-hover icon-dark text-uppercase">
						PARTICIPER
						{{ include('/components/svg_img/_icon_validate.svg.twig') }}
					</button>
				</div>
			</div>
		</div>
	</div>
{% endfor %}