{% extends 'visitor.html.twig' %}

{% block title %}
	Contactez-nous -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('contactForm') }}
{% endblock %}

{% block body %}
	<main class="container">
		<div class="custom-height d-flex justify-content-center align-items-center">
			<div class="row">
				<div class="col-11 col-md-12 border border-secondary rounded m-auto px-2 px-md-5 py-4 my-5 bg-card-gradient-color ornement position-relative">
					<div class="d-flex flex-column align-items-center mb-4">
						<h2 class="text-center text-uppercase letter-spacing mt-5">Contactez nous</h2>
						{% include "components/svg/_frame_surlignage.svg.twig" %}
					</div>
					{{ form_start(form) }}
					<div class="row">
						<div class="col-md-6">
							{{ form_row(form.lastname) }}
						</div>
						<div class="col-md-6">
							{{ form_row(form.firstname) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ form_row(form.email) }}
						</div>
						<div class="col-md-6">
							{{ form_row(form.phone) }}
						</div>
					</div>
					{{ form_row(form.subject) }}
					{{ form_row(form.content) }}
					<div class="d-flex flex-column-reverse flex-md-row justify-content-between flex-lg-row align-items-center gap-3 mt-4 mb-5 pb-3">
						<button type="submit" class="btn btn-sm bg-primary-light text-dark fw-bolder icon-link icon-link-hover icon-dark text-uppercase order-2 d-flex justify-content-center">
							{{ button_label|default('Valider') }}
							{{ include('/components/svg/_icon_validate.svg.twig') }}
						</button>
						<button type='reset' class="btn btn-sm fw-bolder icon-link icon-link-hover-left icon-light text-uppercase order-1 d-flex justify-content-center">
							{{ include('/components/svg/_icon_close.svg.twig') }}
							{{ button_label|default('Annuler') }}
						</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
