<div class="line d-flex justify-content-center pt-5 mt-5">
	<img class="d-flex align-bottom" src="{{ asset('build/images/line.svg') }}">
</div>
<footer class="container-fluid">
	<div class="row justify-content-center align-items-center">
		<div class="social col-md-4 col-8 text-center">
			<a class="text-decoration-none my-2" href="https://www.facebook.com/profile.php?id=100091922199451" target="_blank">
				<img class="my-2" src="{{ asset('build/images/facebook.svg') }}" alt="facebook">
			</a>
			<a href="#" class="text-decoration-none"><img class="my-2" src="{{ asset('build/images/instagram.svg') }}" alt="instagram"></a>
			<a href="#" class="text-decoration-none"><img class="my-2" src="{{ asset('build/images/twitter.svg') }}" alt="twitter"></a>
			<a href="#" class="text-decoration-none"><img class="my-2" src="{{ asset('build/images/youtube.svg') }}" alt="youtube"></a>
		</div>
		<div class="title col-md-4 col-2 d-sm-inline d-none text-center text-center">
			<h2>INO VIN</h2>
		</div>
		<div class="details col-md-4 col-2 d-md-inline d-none text-center">
			<p class="h-100 mb-0">
				<a class="fw-light" href="#">Mentions légales</a>
			</p>
		</div>
	</div>
</footer>
