<div class="line d-flex justify-content-center">
	<img class="d-flex align-bottom" src="{{ asset('build/images/line.svg') }}">
</div>
<footer class="d-flex justify-content-around flex-wrap">
	<div class="social d-flex flex-row align-items-center">
		<a href="https://www.facebook.com/profile.php?id=100091922199451" target="_blank">
			<img src="{{ asset('build/images/facebook.svg') }}" alt="facebook">
		</a>
		<a href="#"><img src="{{ asset('build/images/instagram.svg') }}" alt="instagram"></a>
		<a href="#"><img src="{{ asset('build/images/twitter.svg') }}" alt="twitter"></a>
		<a href="#"><img src="{{ asset('build/images/youtube.svg') }}" alt="youtube"></a>
	</div>
	<div class="title d-flex flex-column align-items-center justify-content-center">
		<h3>INO VIN</h3>
		<p>© Copyright 2023 | Inovin</p>
	</div>
	<div class="details d-flex flex-column align-items-center justify-content-center">
		<a href="#">
			<p class="d-flex justify-content-center">Mentions légales</p>
		</a>
	</div>
</footer>
