<div {{ attributes }} {{ this.state(recipe) }} class="d-flex justify-content-center align-items-center">
	{% if app.user %}
		<button data-action="live#action" data-model='picture' data-action-name="updateState" type="button" class="bg-transparent border-0">
			{% if this.isLiked %}
				<span class="link icon-link icon-link-hover icon text-primary">{{ include('/components/svg/_icon_star_fill.svg.twig') }}</span>
			{% else %}
				<span class="link icon-link icon-link-hover icon text-light">{{ include('/components/svg/_icon_star.svg.twig') }}</span>
			{% endif %}
		</button>
	{% endif %}
	<span class="px-2">{{ this.countVotes ~ ' Vote' ~ (this.countVotes > 1 ? 's ') }}</span>
</div>