{% extends 'admin.html.twig' %}
{% block title %}
	{{ parent() }}
	| Cépages - Nouveau
{% endblock %}
{% block admin_content_title %}Nouveau Cépage
{% endblock %}
{% block admin_content %}
	{{ form_start(form) }}
	<div class="d-flex flex-column justify-content-center align-items-center m-4 p-4">
		{{ form_row(form.name) }}
		<div class="row">
			<div class="d-flex g-4 gap-4 mb-3">
				<a role="button " class="btn btn-sm text-nowrap mb-3" href="{{ path('app_cepage_index') }}">Retour</a>
				<button class="btn btn-sm text-nowrap bg-primary-light mb-3 text-dark fw-bolder">{{ button_label|default('Valider') }}</button>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}