{{ form_start(form) }}
<div class="d-flex flex-column gap-3">
	<div>
		{{ form_widget(form) }}
	</div>
</div>

<div class="d-flex flex-sm-row flex-column justify-content-between mt-5">
	<button class="btn bg-primary-light text-dark fw-bolder mb-4 icon-link icon-link-hover icon-dark text-uppercase order-2">
		{{ button_label|default('Valider') }}
		{% include "components/svg/_icon_validate.svg.twig" %}
	</button>
	<a class="btn fw-bolder mb-4 icon-link icon-link-hover-left icon-light text-uppercase order-3 order-sm-1" href="{{ path('app_admin_recipe_index') }}">
		{% include "components/svg/_icon_backlink.svg.twig" %}
		Retour
	</a>
</div>
{{ form_end(form) }}
